/* Write your CSS here */
.bg-container {
  background-color: #1e293b;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #f0bb03;
  font-family: 'Bree Serif';
  font-size: 130px;
  text-align: center;
}

.para {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 50px;
  text-align: center;
}

.button {
  height: 40px;
  width: 100px;
  background-color: #ffffff;
  border-radius: 8px;

  border: none;
  font-weight: bold;
}

.btn-container {
  text-align: center;
}
